
body {
  border-style: solid;
  border-color: coral;

  display: flex;
  color: blue;
  padding: 10px;
  gap: 10px;
}
#leftlist {
  border-style: solid;
  border-color: black;
  padding: 20px;
}
.leftside {
  border-style: solid;
  border-color: black;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-shrink: 0;
  
}
.rightside {
  justify-content: flex-end;
  margin-left: auto;
  color: green;
  border-style: solid;
  border-color: coral;
}

nav {
  display: flex;
  gap: 20px;
  color: red;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons {
  padding: 20px;
  display: flex;
  color: cyan;
  gap: px;
  justify-content: center;
  justify-content: space-evenly;
}
html {
  scroll-behavior: smooth;
}