html {
  scroll-behavior: smooth;
}
/* Universal color pallete WIP 

*/
body {
  border-style: solid;
  border-color: coral;

  display: flex;
  color: black;
  padding: 10px;
  gap: 10px;
}
leftside:hover {
  color: white;
}


/* individual boxes */
.leftside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-style: solid;
  border-color: black;
  padding: 20px;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-shrink: 0;
  
}
.rightside {
  justify-content: flex-end;
  margin-left: auto;

  color: green;
  border-style: solid;
  border-color: coral;
}
/* navigation tabs */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 20px;
  border-color: red;
  color: red;
}
#leftmiddlelist {
  color: red;
}
/* icon definitions */
i {
  color: cya
}
i:hover {
  color: white;
}
.socials-icons {
  color: cyan;
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-start;
  gap: 24px;

  flex-shrink: 0;

  border-style: solid;
  border-color: coral;
}
.fa-3x{
  color: cyan;
  display: flex;
  justify-content: space-evenly;
}
#leftlistbottom {

}
.socials-icons:hover {
  border-color: white;
  color: white;
  background-color: white;
}
.socials-icons {
  height: 100px;
  width: 100px;
}
/*.socials-icons ::before{
  content: 'twitter';
  position: absolute;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-65px);
}