
body {
  border-style: solid;
  border-color: coral;
  display: flex;
  color: blue;
  padding: 10px;
}

.leftside {
  border-style: solid;
  border-color: black;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-wrap: nowrap;
  flex-shrink: 0;
  
}
.rightside {
  justify-content: flex-end;
  margin-left: auto;
  color: green;
  border-style: solid;
  border-color: coral;
}

nav {
  
  display: flex;
  gap: 20px;
  color: red;
  flex-direction: column;
  justify-content: space-evenly;
}
.icons {
  
  margin-bottom: 0px;
  justify-self: space-evenly;
  border-color: blue;
}
html {
  scroll-behavior: smooth;
}